<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/8ab1e08a06.css">
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/48938155eb24b4ccdde09426066869504c6dab3c/dist/css/bootstrap.min.css"> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
  </head>
  <body>
    <div class="container"></div>
  </body>
  <script src="../../static/js/bundle.js"></script>
</html>
